.card {
  width: 280px;
  height: 374px;
	background-color: #ffffff;
  border: 1px solid rgba(43, 50, 57, 0.15);
  grid-column: span 4;
}

@media (min-width:576px){
  .card {
    grid-column: 1;
  }
}

.keyboard {
  display: flex;
  flex-direction: row;
}