.App-header {
  background-color: #2196f3;
  padding: 10px;
  color: white;
  border-bottom: 1px solid rgba(43,50,57,.15);
}

.App-title {
  font-size: 1.5em;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 50px;
}